$primary-font: "Helvetica Neue", sans-serif;
$secondary-font: "Beautiful Comethrue";

@import url(https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,700,800,900,italic,500italic,600italic,700italic,800italic,900italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: #000;
}

.loading {
  position: absolute;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: #fff;
  z-index: 100;
}

.contact {
  position: absolute;
  bottom: 25px;
  left: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  .round {
    width: 120px;
    height: 120px;
    border-radius: 1000px;
    position: relative;
  }
  .smiley {
    position: absolute;
    width: 60px;
    height: 60px;
  }
}

.container {
  height: 100%;
  width: 100%;
}

.hero-text {
  background-color: #fff;
  font-family: $primary-font;
  font-size: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  padding: 0 200px;
  overflow: hidden;
  .text {
    overflow: hidden;
    h1 {
      font-size: 8rem;
      font-weight: 400;
      color: #000;
      transform: translateY(130%);
      transition: transform 0.2s cubic-bezier(0.19, 1, 0.22, 1);
    }
  }
  div:first-child {
    text-align: left;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    video {
      width: 220px;
      height: 120px;
      margin-left: 40px;
      object-fit: cover;
      border-radius: 1000px;
    }
  }
  div:nth-child(2) {
    // font-family: $secondary-font;
    font-family: "Beautiful Comethrue";
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    width: 100%;
    h1 {
      font-weight: 400 !important;
      cursor: pointer;
    }
  }
  div:last-child {
    text-align: right;
    width: 100%;
    padding-right: 20px;
  }
}
